**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/Interisys/Interisys-war/nbproject/private/
/Interisys/Interisys-ejb/nbproject/private/